#!/usr/bin/make -f

%:
	dh $@ --buildsystem=makefile

override_dh_auto_configure:

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	cargo build --release --offline

override_dh_auto_install:
	install -D -m 0755 target/release/omcp debian/open-mcp/usr/bin/omcp
	install -D -m 0755 target/release/mcp debian/open-mcp/usr/bin/mcp